body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.navbar {
  width: 100%;

  .container {
    margin: auto 2.5rem;

    .flex-container {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        color: black;
        text-decoration: none;
        font-weight: 750;
        &:hover {
          color: red;
        }
      }

      .show {
        display: none;
      }

      .dropdown-content {
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 2rem;

        a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;

          &:hover {
            background-color: #ddd;
          }
        }
      }

      .dropdown-content-Dialog {
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 2rem;
        right: -1rem;

        a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;

          &:hover {
            background-color: #ddd;
          }
        }
      }

      .navbar-left {
        margin-top: auto;
        margin-bottom: auto;
        width: 40%;
        min-width: 24px;
        display: flex;
        justify-content: start;

        .bar {
          width: 25px;
          height: 3px;
          background-color: black;
          margin: 6px 0;
        }

        div {
          margin-top: auto;
          margin-bottom: auto;
          min-width: max-content;
          width: 75%;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          list-style-type: none;
          color: white;

          .image {
            height: 2rem;
            margin-right: 3rem;
          }

          li {
            margin-top: auto;
            margin-bottom: auto;
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }

      .navMenu {
        display: none;
      }

      .navbar-right {
        margin-top: auto;
        margin-bottom: auto;
        width: 40%;
        min-width: 24px;
        display: flex;
        justify-content: end;
        position: relative;

        ul {
          margin-top: auto;
          margin-bottom: auto;
          display: flex;
          flex-wrap: wrap;
          min-width: max-content;
          width: 75%;
          justify-content: space-between;
          list-style-type: none;
          li {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

.arrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



.arrowRight {
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.head {
  width: 100%;
  margin: auto;
  text-align: center;
  min-height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("../image/DB-image.jpg");
  background-position: center;
  background-size: cover;
  color: white;

  .head-video {
    // display: none;
    width: 100%;
    min-height: 25rem;
  }

  .show {
    display: none;
  }

  .head-container {
    // display: none;

    width: 60%;
    .head-content {
      font-size: 1.3rem;
      letter-spacing: 1.5px;
      font-weight: lighter;
    }
    .head-title {
      margin-top: -1rem;
      font-size: x-large;
      button {
        cursor: pointer;
        font-size: medium;
        letter-spacing: 1.2px;
        background-color: red;
        color: white;
        padding: 0.8rem;
        border: 0;
        border-radius: 5px;
      }
    }
  }
}

.main {
  // background-color: red;
  width: 100%;
  margin: auto;
  margin-bottom: 10rem;
  text-align: center;
  min-height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .main-content {
      margin: auto;
      width: 50%;
      padding: 1.5rem;
      text-align: left;
      line-height: 1.5;
      h2 {
        font-size: xx-large;
        line-height: 1.25;
        font-weight: 800;
      }
    }

    .margin-foot {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;

      .margin-foot-item {
        display: flex;
        line-height: 1.3;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f5f5f5;
        // background-color: #E0E0E0;
        border-radius: 10px;
        text-align: left;
        width: 28%;
        padding: 1rem;

        &:hover {
          background-color: #ddd;
        }

        a {
          color: rgb(243, 50, 50);
          text-decoration: none;
          font-weight: 550;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;

    .container {
      margin: auto 1.5rem;

      .flex-container {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .navbar-left {
          width: 50%;
          display: flex;
          justify-content: start;

          div {
            margin-top: auto;
            margin-bottom: auto;
            min-width: 100%;
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            list-style-type: none;
            color: white;

            .image {
              height: 2rem;
              margin-right: 1rem;
            }

            li {
              margin-top: auto;
              margin-bottom: auto;
              // margin-right: 6rem;
            }
          }
        }

        .navMenu {
          display: none;
        }

        .navbar-right {
          margin-top: auto;
          margin-bottom: auto;
          width: 50%;
          min-width: 24px;
          display: flex;
          justify-content: end;
          position: relative;

          ul {
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            flex-wrap: wrap;
            min-width: 100%;
            justify-content: space-between;
            list-style-type: none;
            color: white;
            li {
              margin-top: auto;
              margin-bottom: auto;
              margin-left: 0rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 662px) {
  .navbar {
    width: 100%;

    .container {
      margin: auto 1rem;

      .flex-container {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .navbar-left {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          div {
            margin: auto;
            min-width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            color: white;
            justify-content: space-between;

            li {
              margin-top: auto;
              margin-bottom: auto;
              &:nth-child(2) {
                display: none;
              }
              &:nth-child(3) {
                display: block;
              }
            }
          }
        }

        .navMenu {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          list-style-type: none;
          div {
            width: 100%;
            display: none;
            li {
              margin-top: auto;
              margin-bottom: auto;
              padding-top: 0.5rem;
              padding-bottom: 0.5rem;
              width: 100%;
              text-align: center;
              &:hover {
                background-color: #ddd;
              }
            }
          }
        }

        .navbar-right {
          margin-top: 0.5rem;
          margin-bottom: auto;
          width: 100%;
          display: none;
          justify-content: end;
          position: relative;

          ul {
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            flex-wrap: wrap;
            min-width: 100%;
            justify-content: space-between;
            list-style-type: none;
            color: white;
            li {
              margin-top: auto;
              margin-bottom: auto;
              margin-left: 0rem;
            }
          }
        }
      }
    }
  }

  .head {
    .head-container {
      width: 70%;
      .head-content {
        font-size: 1rem;
        letter-spacing: 1.5px;
        font-weight: lighter;
      }
      .head-title {
        margin-top: -1rem;
        font-size: x-large;
      }
    }
  }

  .main {
    .container {
      width: 90%;

      .main-content {
        margin: auto;
        width: 80%;
        padding: 1.5rem;
        text-align: left;
        line-height: 1.5;
        h2 {
          font-size: xx-large;
          line-height: 1.25;
          font-weight: 800;
        }
      }

      .margin-foot {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .margin-foot-item {
          display: flex;
          line-height: 1.3;
          flex-direction: column;
          justify-content: space-around;
          background-color: #f5f5f5;
          border-radius: 10px;
          text-align: left;
          width: 60%;
          padding: 1rem;
          margin-bottom: 1rem;

          &:hover {
            background-color: #ddd;
          }

          a {
            color: rgb(243, 50, 50);
            text-decoration: none;
            font-weight: 550;
          }
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .navbar {
    width: 100%;

    .container {
      margin: auto 1rem;

      .flex-container {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .navbar-left {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          div {
            margin: auto;
            min-width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            color: white;
            justify-content: space-between;

            li {
              margin-top: auto;
              margin-bottom: auto;
              &:nth-child(2) {
                display: none;
              }
              &:nth-child(3) {
                display: block;
              }
            }
          }
        }

        .navbar-right {
          margin-top: 0.5rem;
          margin-bottom: auto;
          width: 100%;
          display: none;
          justify-content: end;
          position: relative;

          ul {
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            flex-wrap: wrap;
            min-width: 100%;
            justify-content: space-between;
            list-style-type: none;
            color: white;
            li {
              margin-top: auto;
              margin-bottom: auto;
              margin-left: 0rem;
            }
          }
        }
      }
    }
  }

  .head {
    .head-container {
      width: 80%;
      .head-content {
        font-size: 1rem;
        letter-spacing: 1.5px;
        font-weight: lighter;
      }
      .head-title {
        margin-top: -1rem;
        font-size: large;
      }
    }
  }

  .main {
    .container {
      width: 90%;

      .main-content {
        margin: auto;
        width: 80%;
        padding: 1.5rem;
        text-align: left;
        line-height: 1.5;
        h2 {
          font-size: xx-large;
          line-height: 1.25;
          font-weight: 800;
        }
      }

      .margin-foot {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .margin-foot-item {
          display: flex;
          line-height: 1.3;
          flex-direction: column;
          justify-content: space-around;
          background-color: #f5f5f5;
          border-radius: 10px;
          text-align: left;
          width: 60%;
          padding: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
